#fotoCv{
    position: relative;
    left: 75px;
    border-radius: 100%;
    border: 5px solid black;
    height: 500px;
    margin: 30px;
    border: 25px solid #FFC300;
}

#fondoFoto{
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #001D3D;
}

#nombre{
    font-size: 60px;
    display: inline;
    color: #FFD60A;
    position: relative;
    left: 250px;
    bottom: 350px;
}

#presentacion{
    font-size: 40px;
    color: #FFC300;
    position: relative;
    bottom: 250px;
    left: 750px;
    margin: 0px;
    bottom: 320px;
}

#diferenciador{
    margin: -10px;
    height: 30px;
    background-color: #003566;
    border: 0px solid black
}

#descripcion{
    color: #FFD60A;
    font-size: 20px;
    position: relative;
    margin: auto;
    width: 75%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #003566;
    align-content: center;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border-radius: 200px;
}

#informacion{
    margin-top: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
    background-color: #FFC300;
}

#estudios{
    background-color: #001D3D;
    width: 50%;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border-radius: 20px;
}

.titulos{
    display: inline;
    color: white;
    padding: 30px;
    padding-bottom: 0px;
}

.icono{
    display: inline;
    position: relative;
    color: #FFC300;
    background-color: #FFC300;
    left: 10px;
    border-radius: 100%;
    padding: 3px;
    width: 50px;
    height: 50px;
}

.tituloEstudios{
    color: #FFC300;
    font-size: large;
    padding-left: 70px;
    padding-top: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: underline;
}

.fecha{
    position: relative;
    color: white;
    font-size: 11px;
    bottom: 17px;
    padding-left: 70px;
}

.infoEstudios{
    color: #FFC300;
    position: relative;
    padding-left: 120px;
    bottom: 17px;

}